<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'templates/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'templates/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


    <div class="container">
        <div class="block-header">
            <h2>Account</h2>
        </div>

        <!-- TABS -->
        <div class="card">
            <div class="card-header">
                <h2></h2>
            </div>

            <div class="card-body card-padding" data-ng-controller="profileCtrl as pctrl" id="profile-main">

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account-box zmdi-hc-fw m-r-5"></i><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

                        <ul class="actions" data-ng-if="pctrl.editInfo === 0">
                            <li class="dropdown" uib-dropdown>
                                <a href="" uib-dropdown-toggle>
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
                            <dl class="dl-horizontal">
                                <dt>First Name</dt>
                                <dd>{{ pctrl.firstname }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Last Name</dt>
                                <dd>{{ pctrl.lastname }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>User Name</dt>
                                <dd>{{ pctrl.username }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Business Name</dt>
                                <dd>{{ pctrl.businessname }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>EIN or TIN</dt>
                                <dd>{{ pctrl.eintin }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Phone</dt>
                                <dd>{{ pctrl.phone }}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email</dt>
                                <dd>{{ pctrl.email }}</dd>
                            </dl>
                        </div>

                        <form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">First Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.firstname" type="text" class="form-control" value="{{ pctrl.firstname }}" placeholder="eg. Mallinda" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Last Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.lastname" type="text" class="form-control" value="{{ pctrl.lastname }}" placeholder="eg. Hollaway" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">User Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.username" type="text" class="form-control" value="{{ pctrl.username }}" placeholder="eg. king" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Business Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.businessname" type="text" class="form-control" value="{{ pctrl.businessname }}" placeholder="eg. web" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">EIN or TIN</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.eintin" type="text" class="form-control" value="{{ pctrl.eintin }}" placeholder="eg. 12323432" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Phone Number</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.phone" type="text" class="form-control" value="{{ pctrl.phone }}" placeholder="eg. 00971123456789" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">email</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.email" type="email" class="form-control" value="{{ pctrl.email }}" placeholder="eg. sam@gmail.com" ng-required="true">
                                    </div>
                                </dd>
                            </dl>

                            <div class="m-t-30">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Get Payment preference</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <img src="img/paypal.gif" alt="paypal" style="width:60px; height: 30px;" data-ng-click="pctrl.paypal = 1; pctrl.debit=0; pctrl.direct=0;">
                            <img src="img/direct_deposit.png" alt="direct deposit" style="width:60px; height: 30px; margin-left: 4px;" data-ng-click="pctrl.paypal = 0; pctrl.debit=1; pctrl.direct=0;">
                            <img src="img/credit_card.png" alt="credit card" style="width:60px; height: 50px;" data-ng-click="pctrl.paypal = 0; pctrl.debit=0; pctrl.direct=1;">
                        </div>

                        <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.paypal === 1" style="margin-top: 40px;">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">email</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.email" type="email" class="form-control" placeholder="eg. sam@gmail.com" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Currency</dt>
                                <dd>
                                    <div class="fg-line">
                                        <select class="form-control">
                                            <option>CAD</option>
                                            <option>MXN</option>
                                            <option>LBP</option>
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                            <div class="m-t-10">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.paypal = 0; pctrl.debit=0; pctrl.direct=0;" >Cancel</button>
                            </div>
                        </form>
                        <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.debit === 1" style="margin-top: 40px;">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Bank Account Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.bankaccountname" type="text" class="form-control" placeholder="Bank Account Name" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Type of Account</dt>
                                <dd>
                                    <div class="fg-line">
                                        <select class="form-control">
                                            <option>Checking</option>
                                            <option>Savings</option>
                                            <option>Certificate of Deposit (CD)</option>
                                            <option>Money market account</option>
                                            <option>Individual Retirement Accounts (IRAs)</option>
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                            <div class="m-t-10">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.paypal = 0; pctrl.debit=0; pctrl.direct=0;" >Cancel</button>
                            </div>
                        </form>
                        <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.direct === 1" style="margin-top: 40px;">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">email</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.email" type="email" class="form-control" placeholder="eg. sam@gmail.com" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Currency</dt>
                                <dd>
                                    <div class="fg-line">
                                        <select class="form-control">
                                            <option>CAD</option>
                                            <option>MXN</option>
                                            <option>LBP</option>
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                            <div class="m-t-10">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.paypal = 0; pctrl.debit=0; pctrl.direct=0;" >Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-phone m-r-5"></i> Payout preference</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view" data-ng-if="pctrl.editContact === 0">
                            <img src="img/paypal.gif" alt="paypal" style="width:60px; height: 30px;" data-ng-click="pctrl.out_paypal = 1; pctrl.out_debit=0;">
                            <img src="img/credit_card.png" alt="credit card" style="width:60px; height: 50px;" data-ng-click="pctrl.out_paypal = 0; pctrl.out_debit=1;">
                        </div>

                        <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="pctrl.out_paypal === 1" style="margin-top: 40px;">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">email</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.email" type="email" class="form-control" placeholder="eg. sam@gmail.com" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Currency</dt>
                                <dd>
                                    <div class="fg-line">
                                        <select class="form-control">
                                            <option>CAD</option>
                                            <option>MXN</option>
                                            <option>LBP</option>
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                            <div class="m-t-10">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.out_paypal = 0; pctrl.out_debit=0;" >Cancel</button>
                            </div>
                        </form>
                        <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="pctrl.out_debit === 1">
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Card Name</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.name" type="text" class="form-control" value="{{ pctrl.name }}" placeholder="eg. Mallinda" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Card Number</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.card_number" type="text" class="form-control" value="{{ pctrl.card_number }}" placeholder="card number" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Security Code</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.security_code" type="text" class="form-control" value="{{ pctrl.security_code }}" placeholder="security code" ng-required="true">
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">Expiration Date</dt>
                                <dd>
                                    <div class="fg-line">
                                        <input data-ng-model="pctrl.expiration_date" type="text" class="form-control" value="{{ pctrl.expiration_date }}" placeholder="expiration date" ng-required="true">
                                    </div>
                                </dd>
                            </dl>

                            <div class="m-t-30">
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                <button class="btn btn-link btn-sm" data-ng-click="pctrl.out_paypal = 0; pctrl.out_debit=0;" >Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>