<div class="container" data-ng-controller="pinCtrl as tctrl">

<div class="card">

    <div class="card-header">
        <h2>Calling Card PIN Management</h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tableFilter" class="table table-striped table-vmiddle" show-filter="true">
                <tr ng-repeat="w in data">
                    <td data-title="'PIN'" filter="{ 'name': 'text' }" sortable="'name'">
                        {{ w.name }}
                    </td>
                    <td data-title="'Email'" filter="{ 'email': 'text' }" sortable="'email'">
                        {{ w.email }}
                    </td>
                    <td data-title="'Registered On'" filter="{ 'created_on': 'text' }" sortable="'created_on'">
                        {{ w.created_on }}
                    </td>
                     <td data-title="'Activated On'" filter="{ 'activated_on': 'text' }" sortable="'activated_on'">
                        {{ w.activated_on }}
                    </td>
                    <td data-title="'Amount'" filter="{ 'value': 'text' }" sortable="'value'">
                        {{ w.value }}
                    </td>
                    <td data-title="'Remaining'" filter="{ 'balance': 'text' }" sortable="'balance'">
                        {{ w.balance }}
                    </td>

                    <td data-title="'Status'">

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</div>