<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'templates/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'templates/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


    <div class="container">
        <div class="block-header">
            <h2>Account</h2>
        </div>

        <!-- TABS -->
        <div class="card">
            <div class="card-header">
                <h2></h2>
            </div>

            <div class="card-body card-padding" data-ng-controller="productDetail as pctrl" id="profile-main">

                <form class="pmbb-edit" data-ng-submit="pctrl.submit_product(pctrl.spec)">
                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account-box zmdi-hc-fw m-r-5"></i><i class="zmdi zmdi-person m-r-5"></i>Product's Basic Information</h2>

                    </div>
                    <div class="pmbb-body p-l-30">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Product Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="product.name" type="text" class="form-control" value="{{ product.name }}" placeholder="product name" ng-required="true">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Category</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>Computer</option>
                                        <option>Mobile Device</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Images or Videos</dt>
                            <dd>
                                <div class="fg-line">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </dd>
                        </dl>



                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Product Condition</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>New</option>
                                        <option>Used</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Product Description</dt>
                            <dd>
                                <div class="fg-line">
                                    <textarea class="form-control" rows="5" placeholder="Summary..."></textarea>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="pmb-block p-l-30">
                    <div class="pmbb-header">
                        <h2 style="cursor: pointer;" ng-click="pctrl.toggle_spec()"><i class="zmdi zmdi-equalizer m-r-5"></i> Product Specifications</h2>
                    </div>
                    <div class="pmbb-body p-l-30" data-ng-if="pctrl.spec == 1">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Product Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="product.name" type="text" class="form-control" value="{{ product.name }}" placeholder="product name" ng-required="true">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Maker</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" value="" placeholder="product marker" ng-required="true">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Model</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" value="" placeholder="product model" ng-required="true">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Year</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" value="" placeholder="year" ng-required="true">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">ISBN</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="ISBN" ng-required="true">
                                </div>
                            </dd>
                        </dl>
                        <br>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Length</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="length">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Breath</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="breath">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Depth</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="depth">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">number</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" value="" placeholder="height">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Width</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="width">
                                </div>
                            </dd>
                        </dl>
                         <dl class="dl-horizontal">
                            <dt class="p-t-10">Weight</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="number" class="form-control" value="" placeholder="weight">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="p-l-30" style="float: right; margin-right: 30px;">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="" >Cancel</button>
                </div>
                    <div style="clear: both;"></div>
                </form>
            </div>
        </div>
    </div>
</section>